<h3>Enter long URL </h3>
<form method="post">
  <div class="form-group">
    <input type="url" class="form-control"  name="url" placeholder="Enter URL" id = "url">
    <br>
    <button class="btn btn-primary" type="submit" id="shorten">Shorten</button>
</form>

<div class = "center-block"> 
  {{#if shorturl}}
   <b> {{shorturl}} </b>
{{/if}}
<div>