<h3> Log In </h3>
<form action = '/user/login' method = 'post'>
  <input type="text" name="username" placeholder="User Name/Email">
  <input type="password" name="password" placeholder="Password">
  <button type="submit"> Log In </button>
</form>