<h1> Register Here </h1>
<form action = '/user/register' method = 'post'>
  <input type="text" name="username" placeholder="User Name/Email">
  <input type="password" name="password" placeholder="Password">
  <button type="submit"> Log In </button>
</form>